#fruits{
    
    width: 82%;
    display: flex;
    margin: auto;
    margin-top: 100px;
   

}

a{
    color: #1b1919;
    text-decoration: none;
}
span{
    color: #9e9e9e;
}
#afterspan{
    width: 83%;
    text-align: right;
    padding-left:30px ;
    font-size: 18px;
    letter-spacing: 0.3px;
    color: #9e9e9e;
    display: inline-block;
    margin-bottom: 10px;
    line-height: 20px;
    vertical-align: middle
}


#fruitsimage{
width: 90%;
margin: auto;
display: grid;
grid-template-columns: repeat(4,1fr);
grid-template-rows: repeat(10,1fr);
gap: 20px;
}
#fruitsimage>div{
    text-align: center;
}
#fruitsimage>div>img{
    width: 100%;
    border-radius: 30px;
}
#fruitsimage>div>h5{
    width: 90%;
    text-align: center;
}
#fruitsimage>div>p{
    color: #cd171f;
    text-align: center;
    margin-top: 10px;
}

footer{
    display: flex;
     width:100%;
     height: 200px;
     margin: auto;
     margin-top: 40px;
     margin-bottom: 70px;
     background-color: #90b06e;
 }
 #footerfirstbox{
 
 width: 50%;
 margin: auto;
 padding-left: 80px;
 font-size: 20px;
 }
 #footer2box{
     width: 50%;
     margin-top: 50px;
    
 }
 #spanfooter{
    width: 90%;
    margin: auto;
     text-align: start;
     background-color: #90b06e;
 }
 