

#firstbox{
    
    border: 2px solid red;
    margin:auto;
    width: 100%;
   
}
#firstboximage{
    width: 100%;
}

#secondboxheading{
    border: 1px solid red;
    margin-top: 30px;
    text-align: center;
    font-family: 'Bitter', serif;
    font-weight: 400;
    letter-spacing: .04em;
    line-height: 1.18;
    text-transform: uppercase;
}
#secondboxheading>h1{
    font-family: cursive;
    letter-spacing: .04em;
}


.recommendbox{
    border: 1px solid red;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap: 30px;
  
}
.recommendbox>div{
    width: 80%;
    margin: auto;
    text-align: center;
    color: #222;
    font-weight: 400;
    letter-spacing: .04em;

}
.recommendbox>div>h3{
    font-family: cursive;
}
.recommendbox>div>img{
    width: 100%;
    border-radius: 20px;
}