* {
    margin: 0px;
    padding: 0px;

}

body {
    background-color: #eeeeea;
}


#startingpara {
    width: 100%;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #437111;
    color: white;

}

#navbar {
    background-color: #eeeeea;
    border: 0px solid red;
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 70px;
    margin: auto;
    
}

#navbar>div {
    display: flex;
    border: 0px solid red;
    width: 30%;
    justify-content: space-evenly;
    align-items: center;

}

 #img1 {
    width: 30%;
}
#box3{
    width: 20%;
    color:grey;
    
}
#box3>p{
    font-size: 20px;
}
#box3>img{
    width: 40px;
  
}

#container{
    border: 0px solid red;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}